/* --------------------------------------------------------
Style Sheet for color can

version: 0.0.1
last modified: 6.24.2015 by sidhartha madipalli
author: sidhartha madipalli
email: hello@madsid.com
website: http://colorcan.in
----------------------------------------------------------*/

/* Bootstrap Override styles*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.navbar-brand {
    padding: 5px;
}
.navbar-brand img{
    height: 100%;
}

.navbar {
    border-radius:0;
    margin-bottom:0;
    text-transform : uppercase;
}

.navbar-default {
    /*opacity: 0.95;
    filter: alpha(opacity=95); */
}

.navbar-right li:hover{
    background-color:#E74C3C;
}

.navbar-default .navbar-nav > li > a:hover {
    color:#FFF;
}

.navbar-default .navbar-nav > li.selected > a{
    color:#FFF;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 10px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 10px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.well{
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 150%;
  box-shadow: none;
}
a.well {
  color: #666;
  outline: 0;
}
a.well :hover{
  color: #999;
}
/* Website styles */
body {
   outline:none;
   background: #FFF url('../images/bg.jpg');
   font-family: 'Open Sans', sans-serif;
}

.cool-display {
    display:none;
}

.selected {
    background-color:#E74C3C;
    color:#FFF;
}

.box {
    height:auto;
    padding:15px;
}

.box2 {
    height:auto;
    padding:5% 15%;
}

/* CSS for the choose color message */
.choose-color{
  display:none;
}
.choose-color-mini{
  position:absolute;
  bottom:30px;
  width: 45px;
  right: 50%;
  margin-right: -160px;
  z-index:1000;
  display:inline;
  -webkit-animation: chooseColorMini 5s ease-in-out infinite;
  -o-animation: chooseColorMini 5s ease-in-out infinite;
  animation: chooseColorMini 5s ease-in-out infinite;
}

/* Animation */
/* Chrome, Safari, Opera */
@-webkit-keyframes chooseColorMini {
  0% {opacity:0;}
  50% {opacity:1;}
  75% {opacity:1;}
  100% {opacity:0;}
}
/* Microsoft */
@-ms-keyframes chooseColorMini {
  0% {opacity:0;}
  50% {opacity:1;}
  75% {opacity:1;}
  100% {opacity:0;}
}
/* Standard syntax */
@keyframes chooseColorMini {
    0% {opacity:0;}
    50% {opacity:1;}
    75% {opacity:1;}
    100% {opacity:0;}
}
.color-box {
    position:absolute;
    bottom:30px;
    width:230px;
    height:35px;
    right:50%;
    margin-right:-115px;
    padding:5px 10px;
    z-index:1000;
    background-color:#F8F8F8;
    /*opacity: 0.75;
    filter: alpha(opacity=75);*/
    display:inline;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.color-box img {
    width:20px;
    float:left;
    margin:0 5px;
    cursor:pointer;
}

/* Commenting out old launch
.launch {
    background-image:url(../bgs/color-red.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    overflow:visible;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

#launch-caption {
    width:35%;
    color:#FFF;
    position:relative;
    left:65%;
    top:20%;
}

#launch-caption * {
    font-weight:300;
}
*/
.launch .carousel-indicators {
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 15;
  width: auto;
  min-width: 260px;
  margin-left: 0px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  list-style: none;
  background-color: rgba(0, 0, 0, .6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.launch .carousel-indicators li {
  display: inline-block;
  width:auto;
  height:auto;
  padding: 5px 2px;
  font-size: 90%;
  margin: 1px;
  cursor: pointer;
  text-indent: 0px;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 0px;
  color: #F5F5F5;
}
.launch .carousel-indicators .active {
  margin: 0;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border-top: 2px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
}

.launch .carousel-caption{
  bottom: 80px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.launch .carousel-caption h2{
  font-size: 125%;
}

.about {
    background-color: #FFF;
    color:#555;
    padding-top:4%;
}

#about-desc {
    font-weight: 400;
    text-align:justify;
}

#about-desc h1 {
    font-weight:bold;
    margin: auto;
    text-align:center;
    text-transform:uppercase;
    padding-bottom: 2%;
}

#about-desc p {
    font-size:103%;
}

.testimonials {
    background-color: #F5F5F5;
    color:#555;
    padding-top: 4%;
    max-height: 250px;
}

.testimonials-desc {
    font-weight: 400;
    text-align: justify;
}

.testimonials-desc h1 {
    font-weight:500;
    margin: auto;
    text-align:center;
    padding: 0% 12% 2% 12%;
    font-style: italic;
    position: absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size:125%;
    color:#666;
}

.testimonials .carousel-indicators li{
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #999;
}

.testimonials .carousel-indicators .active {
  background-color: #999;
}


.contact {
    background-color: #333;
    color:#ccc;
    padding-top:4%;
}

#contact-desc {
    font-weight: 400;
    text-align:justify;
}

#contact-desc h1 {
    font-weight:bold;
    margin: auto;
    text-align:center;
    text-transform:uppercase;
    padding-bottom: 2%;
}

#contact-desc p {
    font-size:103%;
    text-align:center;
}

/* Everything gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Full width Slider */
.carousel,
.item,
.active {
    height: 100%;
    padding:0;
}

.carousel-inner {
    height: 100%;
    width:100%;
    position:absolute;
    left:0;
}

.carousel-control.left{
    background:none;
}

.carousel-control.right {
    background:none;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* services box */
.service {
    margin-top:2%;
}

.service-box {
    min-height:450px;
    padding:2px 2% 20px 2%;
    margin-bottom:30px;
    background-color:#F1F1F1;
    margin-right:30px;
    font-weight:600;
    box-shadow:3px 3px 2px 0px rgba(150,150,150,0.75);
    -webkit-transition: background-color 0.5s, color 0.3s, box-shadow 0.2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s, color 0.3s , box-shadow 0.2s;
}

.service-box:hover, .service-box:active {
    background-color:#E74C3C;
    color: #FFF; /*#DEDEDE;*/
    -webkit-transition: background-color 0.5s, color 0.3s, box-shadow 0.2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s, color 0.3s , box-shadow 0.2s;
    box-shadow:10px 10px 3px 1px rgba(150,150,150,0.75);
}

.service-box h3 {
    margin-top:150px;
    text-align:center;
}

.service-box p {
    text-align:justify;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .service-box {
        width:26%;
    }

    .container {
        /*max-width: 730px;*/
    }

    .box {
        padding-left:150px;
        padding-right:150px;
        border: 5px #F8F8F8 solid;
        -webkit-box-shadow: 0px 0px 5px #000;
        box-shadow: 0px 0px 5px #000;
        margin: 15px 0px;
    }
    /*.about {
        margin: 0px 0px;
    }*/
    .well::after {
        content: "Back to Top";
        font-size: 80%;
        text-transform: uppercase;
        outline: 0;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    .choose-color-mini{
      display:none;
    }
    .choose-color{
      position:absolute;
      bottom:110px;
      width:230px;
      height:35px;
      right:70px;
      padding:5px 10px;
      z-index:1000;
      display:inline;
      opacity:0;
      -webkit-animation: chooseColor 5s ease-in-out infinite;
      -o-animation: chooseColor 5s ease-in-out infinite;
      animation: chooseColor 5s ease-in-out infinite;
    }
    /* Animation */
    /* Chrome, Safari, Opera */
    @-webkit-keyframes chooseColor {
      0% {opacity:0; bottom:110px;}
      50% {opacity:1; bottom:104px;}
      75% {opacity:1; bottom:104px;}
      100% {opacity:0; bottom:110px;}
    }
    /* Microsoft */
    @-ms-keyframes chooseColor {
      0% {opacity:0; bottom:110px;}
      50% {opacity:1; bottom:104px;}
      75% {opacity:1; bottom:104px;}
      100% {opacity:0; bottom:110px;}
    }
    /* Standard syntax */
    @keyframes chooseColor {
        0% {opacity:0; bottom:110px;}
        50% {opacity:1; bottom:104px;}
        75% {opacity:1; bottom:104px;}
        100% {opacity:0; bottom:110px;}
    }
    .color-box {
        bottom:40px;
        right:40px;
        width:300px;
        height:45px;
        margin-right:0px;
    }
    .color-box img {
        width:30px;
    }
    /*Navbar*/
    .navbar {
        padding: 15px 20px;
    }
    .navbar-brand {
        padding:0px;
        height: 67px;
        margin-top: -10px;
        margin-bottom: -5px;
    }
    .navbar-brand img{
      height: 100%;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* launch */
    .launch .carousel-indicators {
      padding: 0 10px;
      bottom: 15px;
    }
    .launch .carousel-indicators li{
      padding: 5px 10px;
      font-size: 100%;
    }

    .launch .carousel-caption{
      bottom: 35px;
      font-size: 150%;
    }

    /* Testimonials */
    .testimonials-desc h1 {
        padding: 0% 10% 2% 10%;
        font-size:210%;
    }
}
