/* --------------------------------------------------------
Style Sheet for color can

version: 0.0.1
last modified: 6.24.2015 by sidhartha madipalli
author: sidhartha madipalli
email: hello@madsid.com
website: http://colorcan.in
----------------------------------------------------------*/

/* Bootstrap Override styles*/
.navbar-brand {
    padding: 5px;
}
.navbar-brand img{
    height: 100%;
}

.navbar {
    border-radius:0;
    margin-bottom:0;
    text-transform : uppercase;
}

.navbar-default {
    /*opacity: 0.95;
    filter: alpha(opacity=95); */
}

.navbar-right li:hover{
    background-color:#E74C3C;
}

.navbar-default .navbar-nav > li > a:hover {
    color:#FFF;
}

.navbar-default .navbar-nav > li.selected > a{
    color:#FFF;
}

/* Website styles */
body {
   outline:none;
   background-color:#FFF;
   font-family: 'Open Sans', sans-serif;
}

.cool-display {
    display:none;
}

.selected {
    background-color:#E74C3C;
    color:#FFF;
}

.box {
    height:auto;
    padding:15px;
}

.box2 {
    height:auto;
    padding:5% 15%;
}

.color-box {
    position:absolute;
    bottom:30px;
    width:230px;
    height:35px;
    right:50%;
    margin-right:-115px;
    padding:5px 10px;
    z-index:1000;
    background-color:#F8F8F8;
    /*opacity: 0.75;
    filter: alpha(opacity=75);*/
    display:inline;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.color-box img {
    width:20px;
    float:left;
    margin:0 5px;
    cursor:pointer;
}

.launch {
    background-image:url(../images/color-red.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    overflow:visible;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

#launch-caption {
    width:35%;
    color:#FFF;
    position:relative;
    left:65%;
    top:20%;
}

#launch-caption * {
    font-weight:300;
}

.about {
    background-color: #FFF;
    color:#555;
    padding-top:4%;
}

#about-desc {
    font-weight: 400;
    text-align:justify;
}

#about-desc h1 {
    font-weight:bold;
    margin: auto;
    text-align:center;
    text-transform:uppercase;
    padding-bottom: 2%;
}

#about-desc p {
    font-size:103%;
}

.testimonials {
    background-color: #F5F5F5;
    color:#555;
    padding-top:4%;
}

#testimonials-desc {
    font-weight: 400;
    text-align:justify;
}

#testimonials-desc h1 {
    font-weight:bold;
    margin: auto;
    text-align:center;
    text-transform:uppercase;
    padding-bottom: 2%;
}

.contact {
    background-color: #333;
    color:#ccc;
    padding-top:4%;
}

#contact-desc {
    font-weight: 400;
    text-align:justify;
}

#contact-desc h1 {
    font-weight:bold;
    margin: auto;
    text-align:center;
    text-transform:uppercase;
    padding-bottom: 2%;
}

#contact-desc p {
    font-size:103%;
    text-align:center;
}


/* Everything gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Full width Slider */
.carousel,
.item,
.active {
    height: 100%;
    padding:0;
}

.carousel-inner {
    height: 100%;
    width:100%;
    position:absolute;
    left:0;
}

.carousel-control.left{
    background:none;
}

.carousel-control.right {
    background:none;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        /*max-width: 730px;*/
    }

    .box {
        padding-left:150px;
        padding-right:150px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    .color-box {
        bottom:30px;
        right:40px;
        width:300px;
        height:45px;
        margin-right:0px;
    }
    .color-box img {
        width:30px;
    }
    /*Navbar*/
    .navbar {
        padding: 15px 90px;
    }
    .navbar-brand {
        padding:0px 0px 0px 40px;
        height: 67px;
        margin-top: -10px;
        margin-bottom: -5px;
    }
    .navbar-brand img{
      height: 100%;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

}
