/* --------------------------------------------------------
Style Sheet for color can

version: 0.0.1
last modified: 6.24.2015 by sidhartha madipalli
author: sidhartha madipalli
email: hello@madsid.com
website: http://colorcan.in
----------------------------------------------------------*/
/* Bootstrap Override styles*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.navbar-brand {
    padding: 5px;
}
.navbar-brand img{
    height: 100%;
}
.navbar {
    border-radius:0;
    margin-bottom:0;
    text-transform : uppercase;
}

.navbar-default {
    /*opacity: 0.95;
    filter: alpha(opacity=95); */
}

.navbar-right li:hover{
    background-color:#E74C3C;
}

.navbar-default .navbar-nav > li > a:hover {
    color:#FFF;
}

.navbar-default .navbar-nav > li.selected > a{
    color:#FFF;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 10px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 10px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.well{
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 150%;
  box-shadow: none;
}
a.well {
  color: #666;
  outline: 0;
}
a.well :hover{
  color: #999;
}
.fa {
  font-size: 150%;
  margin-right: 10px;
}
/* Website styles */
body {
   outline:none;
   background: #FFF url('../images/bg.jpg');
   font-family: 'Open Sans', sans-serif;
}

.cool-display {
    display:none;
}

.selected {
    background-color:#E74C3C;
    color:#FFF;
}

.box {
    height:auto;
    padding:15px;
}

.box2 {
    height:auto;
    padding:5% 15%;
}

/* CSS for the choose color message */
.choose-color{
  display:none;
}
.choose-color-mini{
  position:absolute;
  bottom:30px;
  width: 45px;
  right: 50%;
  margin-right: -160px;
  z-index:1000;
  display:inline;
  -webkit-animation: chooseColorMini 5s ease-in-out infinite;
  -o-animation: chooseColorMini 5s ease-in-out infinite;
  animation: chooseColorMini 5s ease-in-out infinite;
}

/* Animation */
/* Chrome, Safari, Opera */
@-webkit-keyframes chooseColorMini {
  0% {opacity:0;}
  50% {opacity:1;}
  75% {opacity:1;}
  100% {opacity:0;}
}
/* Microsoft */
@-ms-keyframes chooseColorMini {
  0% {opacity:0;}
  50% {opacity:1;}
  75% {opacity:1;}
  100% {opacity:0;}
}
/* Standard syntax */
@keyframes chooseColorMini {
    0% {opacity:0;}
    50% {opacity:1;}
    75% {opacity:1;}
    100% {opacity:0;}
}
.color-box {
    position:absolute;
    bottom:30px;
    width:230px;
    height:35px;
    right:50%;
    margin-right:-115px;
    padding:5px 10px;
    z-index:1000;
    background-color:#F8F8F8;
    /*opacity: 0.75;
    filter: alpha(opacity=75);*/
    display:inline;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.color-box img {
    width:20px;
    float:left;
    margin:0 5px;
    cursor:pointer;
}

/* Commenting out old launch
.launch {
    background-image:url(../bgs/color-red.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    overflow:visible;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

#launch-caption {
    width:35%;
    color:#FFF;
    position:relative;
    left:65%;
    top:20%;
}

#launch-caption * {
    font-weight:300;
}
*/
.launch .carousel-indicators {
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 15;
  width: auto;
  min-width: 260px;
  margin-left: 0px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  list-style: none;
  background-color: rgba(0, 0, 0, .6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.launch .carousel-indicators li {
  display: inline-block;
  width:auto;
  height:auto;
  padding: 5px 2px;
  font-size: 90%;
  margin: 1px;
  cursor: pointer;
  text-indent: 0px;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 0px;
  color: #F5F5F5;
}
.launch .carousel-indicators .active {
  margin: 0;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border-top: 2px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
}

.launch .carousel-caption{
  bottom: 80px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.launch .carousel-caption h2{
  font-size: 125%;
}

.about {
    background-color: #FFF;
    color:#555;
    padding-top:4%;
}

#about-desc {
    font-weight: 400;
    text-align:justify;
}

#about-desc h1 {
    font-weight:bold;
    margin: auto;
    text-align:center;
    text-transform:uppercase;
    padding-bottom: 2%;
}

#about-desc p {
    font-size:103%;
}

.testimonials {
    background-color: #F5F5F5;
    color:#555;
    padding-top: 4%;
    max-height: 250px;
}

.testimonials-desc {
    font-weight: 400;
    text-align: justify;
}
.testimonials-desc h1 {
    font-weight:500;
    margin: auto;
    text-align:left;
    padding: 0% 12% 2% 12%;
    font-style: italic;
    margin-top:50px;
    font-size:115%;
    color:#666;
}
.testimonials-desc h3 {
    font-weight:400;
    margin: auto;
    text-align:right;
    padding: 0% 12%;
    font-style: italic;
    font-size:100%;
    color:#666;
}

.testimonials .carousel-indicators li{
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #999;
}

.testimonials .carousel-indicators .active {
  background-color: #999;
}


.contact {
    background-color: #333;
    color:#ccc;
    padding-top:4%;
}

#contact-desc {
    font-weight: 400;
    text-align:justify;
}

#contact-desc h1 {
    font-weight:bold;
    font-size: 210%;
    margin: auto;
    text-align:center;
    text-transform:uppercase;
    padding: 10px 0px;
}

#contact-desc p {
    border-top: 1px solid #3f3f3f;
    padding: 10px 10px 0px 10px;
    font-size:103%;
    text-align: left;
    color : #999;
}
#contact-desc p a{
    color: #bbb;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#contact-desc p a:hover{
    color: #888;
}

.contact-extras-item {
  display: inline-block;
  margin: 0px 5px;
}

/* Everything gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Full width Slider */
.carousel,
.item,
.active {
    height: 100%;
    padding:0;
}

.carousel-inner {
    height: 100%;
    width:100%;
    position:absolute;
    left:0;
}

.carousel-control.left{
    background:none;
}

.carousel-control.right {
    background:none;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* services box */
.service {
   width:100%;
   padding:0;
   margin:0;
   display:block;
}

.slide-1-bg-remove{
  background: url('../images/ServiceSlides/slide1.jpg') 50% 0 no-repeat fixed;
  height: 500px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* Temporary */
#slide-4{
  background: #f8f8f8;
}

.parllax-content {
    height: 100%;
    z-index: 300;
    padding: 6% 15%;
}

.parllax-content h1{
    padding:8px 10px;
    background-color:#E74C3C;
    color:#FFF;
}

.services-left {
    float:left;
}

.services-right{
    float:right;
}

#slide-1 , #slide-2 , #slide-3 , #slide-4 , #slide-5 {
    min-height:300px;
}

#slide-1 p , #slide-2 p , #slide-3 p , #slide-4 p , #slide-5 p {
    font-size:100%;
    font-weight:400;
    text-align:justify;
    position:relative;
    float:left;
}

#slide-1{
    background:url('../images/ServiceSlides/slide1.jpg') 10% no-repeat fixed;
    z-index: -1;
    color:#FFF;
    position:relative;
    top:0;
}

#slide-2 {
    background:#FFF;
}

#slide-3 {
    background:url('../images/ServiceSlides/slide5.jpg') 95% 90% no-repeat fixed;
    z-index: -1;
    color:#FFF;
}

#slide-4 {

}

#slide-5 {
    background:url('../images/ServiceSlides/slide3.jpg') no-repeat fixed;
    background-size:cover;
    color:#FFF;
}

.service-menu{
    background-color:#EFEFEF;
    padding:1% 10%;
    position:fixed;
    width: 100%;
    z-index:999;
    display:none;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
}

    .service-menu a {
        font-weight:bold;
        text-transform:uppercase;
        padding:1px 6px;
        font-size:116%;
    }

        .service-menu a::after {
            padding-left:10px;
            content:"/";
        }

        .service-menu a:last-child::after {
            padding-left:10px;
            content:"";
        }


        .service-menu a:hover {
            color:#E74C3C;
            transition:all ease-in-out 0.06s;
        }

.team {
   width:100%;
   padding:0;
   margin:0;
   display:block;
}

.team .row {
    background-color:#FFF;
    padding: 4% 10%;
    font-size:140%;
}

.team h1{
    text-align:center;
    color:#E74C3C;
    padding-bottom:5%;
    font-weight:600;
    font-size:270%;
    text-transform:uppercase;
    text-decoration:underline;
}

.team .row p {
    text-align:justify;
    font-weight:300;
    font-size: 88%;
}

.team .about-img img {
    margin:5px 0;
    background-color:#E74C3C;
}
.team .about-img img:hover {
    opacity:0.9;
    filter: alpha(opacity=90);
    transition:all ease-in-out 0.2s;
    cursor:pointer;
}

.team .team-desc div {
    visibility:hidden;
    position:absolute;
    top:0;
    font-style:italic;
}

#team-desc-1{
    visibility:visible;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    .service-menu {
        display:block;
    }
    .container {
        /*max-width: 730px;*/
    }

    .box {
        padding-left:150px;
        padding-right:150px;
    }
    /*.about {
        margin: 0px 0px;
    }*/
    .well::after {
        content: "Back to Top";
        font-size: 80%;
        text-transform: uppercase;
        outline: 0;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    .choose-color-mini{
      display:none;
    }
    .choose-color{
      position:absolute;
      bottom:110px;
      width:230px;
      height:35px;
      right:70px;
      padding:5px 10px;
      z-index:1000;
      display:inline;
      opacity:0;
      -webkit-animation: chooseColor 5s ease-in-out infinite;
      -o-animation: chooseColor 5s ease-in-out infinite;
      animation: chooseColor 5s ease-in-out infinite;
    }
    /* Animation */
    /* Chrome, Safari, Opera */
    @-webkit-keyframes chooseColor {
      0% {opacity:0; bottom:110px;}
      50% {opacity:1; bottom:104px;}
      75% {opacity:1; bottom:104px;}
      100% {opacity:0; bottom:110px;}
    }
    /* Microsoft */
    @-ms-keyframes chooseColor {
      0% {opacity:0; bottom:110px;}
      50% {opacity:1; bottom:104px;}
      75% {opacity:1; bottom:104px;}
      100% {opacity:0; bottom:110px;}
    }
    /* Standard syntax */
    @keyframes chooseColor {
        0% {opacity:0; bottom:110px;}
        50% {opacity:1; bottom:104px;}
        75% {opacity:1; bottom:104px;}
        100% {opacity:0; bottom:110px;}
    }
    .color-box {
        bottom:40px;
        right:40px;
        width:300px;
        height:45px;
        margin-right:0px;
    }
    .color-box img {
        width:30px;
    }
    /*Navbar*/
    .navbar {
        padding: 15px 20px;
    }
    .navbar-brand {
        padding:0px;
        height: 67px;
        margin-top: -10px;
        margin-bottom: -5px;
    }
    .navbar-brand img{
      height: 100%;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* launch */
    .launch{
      border: 5px #F8F8F8 solid;
      -webkit-box-shadow: 0px 0px 5px #000;
      box-shadow: 0px 0px 5px #000;
      margin: 15px 0px;
    }
    .launch .carousel-indicators {
      padding: 0 10px;
      bottom: 15px;
    }
    .launch .carousel-indicators li{
      padding: 5px 10px;
      font-size: 100%;
    }

    .launch .carousel-caption{
      bottom: 35px;
      font-size: 150%;
    }

    /* Testimonials */
    .testimonials {
        max-height: 300px;
    }
    .testimonials-desc h1 {
        padding: 0% 10%;
        font-size:210%;
        margin-top: 10%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .testimonials-desc h3 {
      margin: -1% auto;
      font-size:125%;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }

    #slide-1 p , #slide-2 p , #slide-3 p , #slide-4 p , #slide-5 p {
      font-size: 180%;
    }
    #slide-1, #slide-2, #slide-3, #slide-4, #slide-5 {
        min-height:500px;
    }
}
