<section class="container service">
    <div class="row">
        <div class="service-menu">
            <a href="#slide-1" class="" onclick="$('html,body').animate({scrollTop:$('#slide-1').offset().top},'fast');return false;">Wall Painiting</a>
            <a href="#slide-2" class="" onclick="$('html,body').animate({scrollTop:$('#slide-2').offset().top},'fast');return false;">Graffiti &amp; Mural</a>
            <a href="#slide-3" class="" onclick="$('html,body').animate({scrollTop:$('#slide-3').offset().top},'fast');return false;">Wall Doodles</a>
            <a href="#slide-4" class="" onclick="$('html,body').animate({scrollTop:$('#slide-4').offset().top},'fast');return false;">Wall Putty &amp; Water Proofing </a>
            <a href="#slide-5" class="" onclick="$('html,body').animate({scrollTop:$('#slide-5').offset().top},'fast');return false;">Wall Texture</a>
            <a href="#our-team" class="" onclick="$('html,body').animate({scrollTop:$('#our-team').offset().top},'fast');return false;">Team</a>
        </div>

        <div id="slide-1">
            <div class="slide-1-bg"></div>
            <div class="parllax-content">
                <h1 class="left">  Wall Painting </h1>
                <p id="slide-1-text">End to end wall painting solution for all budgets. We can do all
                    paint types like Asian Paints, Berger, Nippon Paints, Nerolac etc. We also offer
                    free consultation on colors based on your preference, wall type and furniture
                    present. Color themes or just simple coloring of walls – we take care of all
                    needs. All our work has roller finish to ensure you have smooth walls. </p>
            </div>
        </div>

        <div id="slide-2">
            <div class="parllax-content">
                <h1 class="right">  Graffiti & Mural </h1>
                <p >Want a customized design for your main elevation wall or bar

space or the main drawing room wall?  Then we are the go to guys for this. Our

artists will create some magic on your walls and this then becomes the only

version of that design! This is the first time ever in India that such high quality

work is now available for your walls.</p>
            </div>
        </div>

        <div id="slide-3">
            <div class="parllax-content">
                <h1 class="left"> Wall Doodles</h1>
                <p id="slide-3-text"> Have you wondered how Doodles can look on your wall? Need a

short story or just a high quality doodle? Color Can is the right place for you

then! Through our strategic partnership with DoodleODrama we help bring

these Doodles to life on your walls! Whether it is your office space or kids’

room or work station or your bedroom, we have a doodle expression for all.</p>
            </div>
        </div>

        <div id="slide-4">
            <div class="parllax-content">
                <h1 class="right">Wall Putty and Water Proofing</h1>
                <p>  Need waterproofing for your walls? Then trust

our vastly experience waterproofing team to solve your wall leakage issues! We

use the best brands for waterproofing and have one of the neatest work

delivery teams for waterproofing in India. </p> <p>

Need putty work on your wall? We have the finest team to ensure your wall

putty finish is equal to that of the best premium quality villas you will find and

that too for all types of budget! Right from touch up putty to full putty work,

we do all. </p>
            </div>
        </div>

        <div id="slide-5">
            <div class="parllax-content">
                <h1 class="left">Wall texture</h1>
                <p id="slide-5-text">  We are specialist with wall textures and plays on the walls. Ever

wondered when you saw your favorite super star advertise those lovely wall

textures if these can be done on your walls? Do not worry and give us a buzz –

we will tell you it is possible and what to do on your wall! </p>
            </div>
        </div>
    </div>
   
</section>

<section class="container team">
    <div class="row" id="our-team">
        <h1>Team</h1>
        <div>
            <p>
                Trust us when we say this – we have the coolest and craziest people on board. Right

                from a bike fanatic and travel enthusiast who loves expressing the free nature of

                humans to the most methodical and organized individual you will see are here.

                Needless to say the entire team shares a passion for sports, creativity, art, and a

                willingness to push the boundary of innovation.
            </p>
        </div>

        <div>
            <p>
                Arjun Singh: The Founder and CEO of Color Can is a start-up enthusiast and serial

                entrepreneur. He believes that we all have an ability to change our lives for the

                better and this attitude transcends in our spirit at Color Can. We are very serious

                when we say that we believe that our work helps change lives and brings smiles

                everywhere. Do not be surprised if you see him working with the team on delivering a

                world class wall at your place!
            </p>
        </div>

        <div>
            <p>
                Seema Rathore (Simi Singh): The smiling lady with oodles of energy and life is

                responsible for our client project delivery as the Head of Client Delivery. Her

                motivating the painting team to continue to deliver projects on time and a spic &

                span home is the reason why we have become such an organized and discipline

                oriented team! A successful entrepreneur herself who featured in the Business Age

                (Asian Age) in the early 90’s, it is needless to say that her experience helps us become

                better by the day.
            </p>
        </div>

        <div>
            <p>
                Sandeep K: Our Manager for Site operations is a soft spoken gentleman with an eye

                for detail. The man behind ensuring the client delivery goes as per our high standards

                for timelines and quality is Sandeep. It would not be new for you to see him also team

                up to work on your wall for putting the designs up. His experience as a social

                entrepreneur for solar pumps and sales brings in vast strength to making sure you

                have a smile every time we work for you.
            </p>
        </div>
    </div>
</section>
