<section class="container service">
    <div class="row">
        <div class="service-menu">
            <a href="#slide-1" class="" onclick="$('html,body').animate({scrollTop:$('#slide-1').offset().top},'fast');return false;">Wall Painiting</a>
            <a href="#slide-2" class="" onclick="$('html,body').animate({scrollTop:$('#slide-2').offset().top},'fast');return false;">Graffiti &amp; Mural</a>
            <a href="#slide-3" class="" onclick="$('html,body').animate({scrollTop:$('#slide-3').offset().top},'fast');return false;">Wall Doodles</a>
            <a href="#slide-4" class="" onclick="$('html,body').animate({scrollTop:$('#slide-4').offset().top},'fast');return false;">Wall Putty &amp; Water Proofing </a>
            <a href="#slide-5" class="" onclick="$('html,body').animate({scrollTop:$('#slide-5').offset().top},'fast');return false;">Wall Texture</a>
            <!--<a href="#our-team" class="" onclick="$('html,body').animate({scrollTop:$('#our-team').offset().top},'fast');return false;">Team</a>-->
        </div>

        <div id="slide-1">
            <div class="slide-1-bg"></div>
            <div class="parllax-content">
                <h1 class="services-left">  Wall Painting </h1>
                <p id="slide-1-text">End to end wall painting solution for all budgets. We can do all
                    paint types like Asian Paints, Berger, Nippon Paints, Nerolac etc. We also offer
                    free consultation on colors based on your preference, wall type and furniture
                    present. Color themes or just simple coloring of walls – we take care of all
                    needs. All our work has roller finish to ensure you have smooth walls. </p>
            </div>
        </div>

        <div id="slide-2">
            <div class="parllax-content">
                <h1 class="services-right">  Graffiti & Mural </h1>
                <p >Want a customized design for your main elevation wall or bar

space or the main drawing room wall?  Then we are the go to guys for this. Our

artists will create some magic on your walls and this then becomes the only

version of that design! This is the first time ever in India that such high quality

work is now available for your walls.</p>
            </div>
        </div>

        <div id="slide-3">
            <div class="parllax-content">
                <h1 class="services-left"> Wall Doodles</h1>
                <p id="slide-3-text"> Have you wondered how Doodles can look on your wall? Need a

short story or just a high quality doodle? Color Can is the right place for you

then! Through our strategic partnership with DoodleODrama we help bring

these Doodles to life on your walls! Whether it is your office space or kids’

room or work station or your bedroom, we have a doodle expression for all.</p>
            </div>
        </div>

        <div id="slide-4">
            <div class="parllax-content">
                <h1 class="services-right">Wall Putty and Water Proofing</h1>
                <p>  Need waterproofing for your walls? Then trust

our vastly experience waterproofing team to solve your wall leakage issues! We

use the best brands for waterproofing and have one of the neatest work

delivery teams for waterproofing in India. </p> <p>

Need putty work on your wall? We have the finest team to ensure your wall

putty finish is equal to that of the best premium quality villas you will find and

that too for all types of budget! Right from touch up putty to full putty work,

we do all. </p>
            </div>
        </div>

        <div id="slide-5">
            <div class="parllax-content">
                <h1 class="services-left">Wall texture</h1>
                <p id="slide-5-text">  We are specialist with wall textures and plays on the walls. Ever

wondered when you saw your favorite super star advertise those lovely wall

textures if these can be done on your walls? Do not worry and give us a buzz –

we will tell you it is possible and what to do on your wall! </p>
            </div>
        </div>
    </div>

</section>
